.search{
    position: relative;
    align-self: center;
    margin-bottom: 60px;
    padding: 10px;
    background: rgba(255,255,255,0.9);
    border: solid 2px rgba(0,0,0,0.8);
    border-radius: 5px;
    outline: none;
    width: 200px;
    font-family: 'Changa', sans-serif;
    letter-spacing: 1px;
    font-size: 1.1rem;
    animation: animate 0.5s linear;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .search:focus{
    width: 220px;
    transition: ease-in-out 0.5s;
    border-color: white;
    background: transparent;
    color: white;
  }
  @keyframes animate{
    0%{
        opacity: 0;
        left: -50%;
    }
    50%{
        opacity: 0;
        left: -25%;
    }
    100%{
        opacity: 1;
        left: 0%;
    }
}