.search{
    align-self: center;
    margin-bottom: 60px;
    padding: 10px;
    background: rgba(255,255,255,0.9);
    border: solid 2px rgba(0,0,0,0.8);
    border-radius: 5px;
    outline: none;
    width: 200px;
    font-family: 'Changa', sans-serif;
    letter-spacing: 1px;
    font-size: 1.1rem;
  }
  .search:focus{
    width: 220px;
    transition: ease-in-out 0.5s;
    border-color: white;
    background: transparent;
    color: white;
  }