.App {
  text-align: center;

}
h1{
  position: relative;
  text-align: center;
  font-size: 70px;
  margin-top: 30px;
  font-family: 'Bigelow Rules', cursive;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: rgb(5, 176, 182);
  text-shadow: 1px 1px #fffb03;
  animation: bounce 0.5s ease-in ;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0; 
}
@keyframes bounce{
    0%{
      /* transform: scale3D(0.5, 1, 1.7);
       */
      transform: matrix3d(
      1,0,0,0,
      0,1,0,0,
      0,0,1,0,
      -25,-25,0,1.1);
      opacity: 0; 
    }
    100%{
      /* transform: scale3D(1,1,1); */
      transform: matrix3d(
      1,0,0,0,
      0,1,0,0,
      0,0,1,0,
      0,0,0,0.9);
      opacity: 1; 
    }
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(rgba(0,0,0,0.2),rgb(5, 176, 182));
  border-radius:6px;
}

